USE [master]
GO
/****** Object:  Database [MovieDb]    Script Date: 5/5/2017 12:54:39 PM ******/
CREATE DATABASE [MovieDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MovieDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MovieDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MovieDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieDb]
GO
/****** Object:  Table [dbo].[tbl_Actor]    Script Date: 5/5/2017 12:54:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Actor](
	[ActorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Sex] [varchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[Bio] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ActorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_ActorMovie]    Script Date: 5/5/2017 12:54:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ActorMovie](
	[ActorMovieId] [int] IDENTITY(1,1) NOT NULL,
	[ActorId] [int] NOT NULL,
	[MovieId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ActorMovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Movie]    Script Date: 5/5/2017 12:54:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Movie](
	[MovieId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[YearOfRelease] [int] NOT NULL,
	[Plot] [nvarchar](max) NOT NULL,
	[Poster] [nvarchar](2083) NOT NULL,
	[ProducerId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Producer]    Script Date: 5/5/2017 12:54:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Producer](
	[ProducerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[Bio] [nvarchar](max) NOT NULL,
	[Sex] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProducerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[tbl_ActorMovie]  WITH CHECK ADD  CONSTRAINT [fk_actorId_tblActorMovie] FOREIGN KEY([ActorId])
REFERENCES [dbo].[tbl_Actor] ([ActorId])
GO
ALTER TABLE [dbo].[tbl_ActorMovie] CHECK CONSTRAINT [fk_actorId_tblActorMovie]
GO
ALTER TABLE [dbo].[tbl_ActorMovie]  WITH CHECK ADD  CONSTRAINT [fk_movieId_tblActorMovie] FOREIGN KEY([MovieId])
REFERENCES [dbo].[tbl_Movie] ([MovieId])
GO
ALTER TABLE [dbo].[tbl_ActorMovie] CHECK CONSTRAINT [fk_movieId_tblActorMovie]
GO
ALTER TABLE [dbo].[tbl_Movie]  WITH CHECK ADD  CONSTRAINT [fk_producerid_tblproducer] FOREIGN KEY([ProducerId])
REFERENCES [dbo].[tbl_Producer] ([ProducerId])
GO
ALTER TABLE [dbo].[tbl_Movie] CHECK CONSTRAINT [fk_producerid_tblproducer]
GO
USE [master]
GO
