<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://deltaxapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>deltaxapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>deltaxApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$deltaxApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MovieHubUI.Models.ApplicationDbContext, MovieHubUI" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MovieDbEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=f7e21b7f-47c1-45b0-90ff-a76b00705c87.sqlserver.sequelizer.com;User ID=asuvmfhquwugiayb;Password=7cZBTDk7sCCLp4Dfqe4xppdBbgYvirhoGJA4oNXDGWFaSNx3wS8ogGVQ8xzMMWXb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BOL.MovieDbEntities, BOL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MovieDbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MovieHubModel.csdl|res://*/MovieHubModel.ssdl|res://*/MovieHubModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=f7e21b7f-47c1-45b0-90ff-a76b00705c87.sqlserver.sequelizer.com;User ID=asuvmfhquwugiayb;Password=7cZBTDk7sCCLp4Dfqe4xppdBbgYvirhoGJA4oNXDGWFaSNx3wS8ogGVQ8xzMMWXb"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>